/* Trang chủ */

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.774) !important;
}

.dropdown-menu li a:hover {
    background-color: black !important;
}

.container-fluid .navbar-brand {
    margin-left: 40px;
    margin-right: 50px;
}

.collapse ul li {
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

.collapse ul li:hover {
    border: 1px solid white !important;
    background-color: black;
}

.collapse ul li a {
    color: aliceblue !important;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
}


/* Hết trang chủ */


/* Cuối trang web  */

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li a {
    font-size: 100px;
    color: inherit;
    font-size: 14px;
}

.col-lg-2 .footer-links h3 {
    font-size: 24px;
    font-weight: bold;
}

.footer-social-links ul {
    list-style-type: none;
}

.lazy-bg {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

.col-lg-2 .footer-links ul li a {
    text-decoration: none !important;
}

.col-lg-2 .footer-links ul li a:hover {
    color: red !important;
}