#button_green {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%) !important
}

#button_green {
    width: 240px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

#button_green:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#button_ltnn {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%)
}

#button_ltnn {
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#button_ltnn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


/* Button mua ngay nha tuyen dung */

#button_buy {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%)
}

#button_buy {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#button_buy:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}