body {
    background: url('../IMAGENHATUYENDUNG/BACKGROUPDANGKYCHINH.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#DangKyNgay {
    width: 100%;
    margin-bottom: 50px;
}

.nhatuyendung {
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nhatuyendung:hover {
    filter: blur(5px);
}

.phu_de {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.phu_de::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0, 1)
}

.hieu_ung:hover .phu_de:before {
    transform: scale(1, 1)
}

.phu_de::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(1, 0)
}

.hieu_ung:hover .phu_de:after {
    transform: scale(1, 1)
}

a {
    text-decoration: none;
}

#button_green {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%) !important
}

#button_green {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#button_green:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}