#team img {
    margin-top: -50px;
}

#team .card {
    border-radius: 0;
    box-shadow: 5px 5px 15px green;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background-color: darkgreen;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}

.li-image {
    list-style: none;
}

.bg {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#model {
    display: block;
    margin: 0 auto;
}

.modal-header h5 {
    color: red;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 25px;
}

#button_buy {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%)
}

#button_buy {
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#button_buy:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}