* {
    padding: 0px;
    margin: 0px;
}

.dropdown-menu li a:hover {
    background-color: black !important;
}

nav ul li a button {
    font-size: 14px !important;
}

.collapse ul li {
    margin: 10px 10px;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

.collapse ul li:hover {
    border: 1px solid white !important;
    background-color: black;
}

.collapse ul li a {
    color: aliceblue !important;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
}


/* Hết Trang Chủ */


/* Cuối trang web  */

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li a {
    font-size: 100px;
    color: inherit;
    font-size: 14px;
}

.footer-social-links ul {
    list-style-type: none;
}

.lazy-bg {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

.col-lg-2 .footer-links h3 {
    font-size: 24px;
    font-weight: bold;
}

.col-lg-2 .footer-links ul li a {
    text-decoration: none !important;
}

.col-lg-2 .footer-links ul li a:hover {
    color: red !important;
}